<h1>New Page!</h1>
<p>game page</p>

{{#each questions as | question |}}
    <h2>{{question.question}}</h2>
    {{#each question.answers as | answer |}}
        <button>{{answer}}</button>
    {{/each}}
{{/each}}

{{> footer}}